/* css nav */
.nav_shoe{
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1;
}
ul{
    padding-left: 0;
}
li{
    list-style-type: none;
    background-color: rgba(220, 220, 220, 0.1);
    padding-left: 20px;
}
a{
    color: black;
    font-size: 40px;
    
}
li:hover a{
    text-decoration: none;
    color: blue;
   
  }
li:hover{
    background-color: aliceblue;
    
}
